.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;

  h1 {
    margin: 0;
    font-size: 1.6rem;
    color: #4a0080;
  }
}

.acoes {
  display: flex;
  gap: .5rem;
}
